.p-card {
    background: $white;
    color: $shadow-cl;
    box-shadow: 0 2px 1px -1px $shadow-cl;
    border-radius: 6px;

    &.p-card .p-card-body {
        padding: 1.25rem;
    }

    &.p-card .p-card-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    &.p-card .p-card-subtitle {
        font-weight: 400;
        margin-bottom: 0.5rem;
        color: $light-gray;
    }

    &.p-card .p-card-content {
        padding: 1.25rem 0;
    }

    &.p-card .p-card-footer {
        padding: 1.25rem 0 0 0;
    }
}