$prime-cl: #3737C3;
$secondary-cl: #0D1F40;

$prime-txt-cl: #343a40;
$secondary-txt-cl: #8495A8;
$inverse-txt-cl: #9DA3A5;

$light-purple: #535372;
$purple-gray: #535372;
$light-gray: #6c757d;
$white: #fbfbfb;
$light-blue: #2D9CDB;
$red: #e24c4c;
$shadow-white: #bfdbfe;
$drop-blue: #1D4ED8;
$drop-white: #DCE6F1;
$text-white: #EBF1F8;

$orchid-cl: #645DF6;
$dull: #EDEFF3;
$inverse: #e9ecef;
$default: #A3B1C0;
$shadow-cl: #495057;
$inverse-cl: #eeedf8;
$success: #2C7D2C;
$warning: #EB9A25;
$danger: #931414;
$help: #6E3091;
$scrol: #afafaf;
$icon-bg: #f1efff;
$submit: #FD6E00;